body {
  font-family: Arial;
}

.header-title {
  text-align: center;
}


.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.visualization {
  width: 500px;
  height: auto;
  border: solid black 5px;
  border-radius: 3px;
}

.visualization-image {
  width: 500px;
}

.visualization-p {
  height: 50px;
  padding: 0px 10px 50px 10px;
}

.shapes-flex {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}

circle {
  fill: deepskyblue;
}

rect {
  fill: darkseagreen;
}
circle:hover {
  fill: steelblue;
}
rect:hover {
  fill: seagreen;
}

ul {
  display: table;
  margin: 0 auto;
}

.acknowledgments {
  text-align: center;
}
